
/*
Assignment/Homework-2: ePortfolio Using Advanced CSS
Author: Taoufik A.
Date: 06/15/2021 
Course: UNC Coding BootCamp
*/


body {
font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
background: #E0DCDC url(me.PNG);
margin: 0;
padding: 0;
color: black;
}

ul, ol, dl {
padding: 2px;
margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
padding-right: 15px;
padding-left: 15px;
}
a img {
border: #FA8072;
}

/*Link color and decoration*/
a:link {
color: #42413C;
text-decoration:underline;
}
a:visited {
color: #1447ee;
text-decoration:line-through;
}
a:hover, a:active, a:focus {
text-decoration:none;
color: red;
}

.content
 {
padding: 0px 0px;
width: 790px;
float:left;
background: white;
}

/*.content ul, .content ol {
padding: 10px 20px 20px;
}
*/

.container {
width: 1100px;
background: white;
margin: 5 auto ;
padding-bottom: 0px;
padding: 0px
}

.header {
background:none;
}

.sidebar {
float: left;
width: 210px;
background: rgb(47, 255, 82);
padding-bottom: 0px;

}


ul.nav {
list-style: none;
border-top: 2px ;
margin-bottom: 10px;
padding: auto;
width: 186px;
}
ul.nav li {
border: 20px outset;
padding: 5px;
border-color: rgb(47, 255, 82);
text-decoration:none;
padding: right 20px;
}
ul.nav li dl dd{

	margin-left: -30px;
	
	}
ul.nav a, ul.nav a:visited {
padding: 2px 5px 5px 10px;
display:block;
width: 120px;
text-decoration:blue;
background: none;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
border: 2px;
padding: 1px;
border-color: #FA8072;
text-decoration:none;

}


/* emailme button effects and settings */
#emailme
{
	display: block;
	margin: auto;
	width: 120px;
	height: 30px;
	background: url('emailme.gif') no-repeat 0 0;
}

#emailme:hover
{
	background-position: 0 -40px;
}

#emailUs span
{
	display: none;
}

#footer {
	
	text-align: center;
	color: rgb(10, 3, 3);
}

#footer a {
	color: rgb(20, 18, 18);
	position:absolute ;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

	}
/* media query for larger screens */
@media screen and (min-width: 992px) {
}



/*image container Overlay */
.container1 {
	position: relative;
	width: 50%;
  }
  
  .image {
	opacity: 1;
	display: block;
	width: 200%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
  }
  
  .middle {
	transition: .30s ease;
	opacity: 0;
	position: relative;
	top: 100%;
	left: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: left;
  }
  
  .container1:hover .image {
	opacity: 0.3;
  }
  
  .container1:hover .middle {
	opacity: 1;
  }
  
  .text {
	background-color: rgb(179, 245, 179);
	color: white;
	font-size: 16px;
	padding: 0px 0px;
  }




  .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  }
  .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }